@model Manufacturing_Core.Entity.MType

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <form asp-action="Details">
        <div class="form-group">
            <div class="col-sm-12 col-md-12 col-lg">
                <div class="card">
                    <div class="card-header text-white" style="width:80%; height:65px; background-color:orangered; margin-left:100px; margin-top:-30px;">Type Details</div>
                    <div class="card-body">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <input type="hidden" asp-for="PkTypeId" />
                        <div class="row">
                            <div class="col-sm-4 col-md-4 col-lg">
                                <div class="form-group">
                                    <label class="control-label" for="AccountTypeId" style="font-family:Verdana; font-weight:normal">Type Id</label>
                                    @Html.TextBox("Type Id", Model.PkTypeId, new { @class = "form-control", @readonly = "readonly" })
                                    <span asp-validation-for="PkTypeId" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg">
                                <div class="form-group">
                                    <label asp-for="TypeCode" class="control-label"></label>
                                    <input asp-for="TypeCode" class="form-control" />
                                    <span asp-validation-for="TypeCode" class="text-danger"></span>
                                </div>
                            </div>                            
                        </div>
                        <div class="row">
                            <div class="col-sm-4 col-md-4 col-lg">
                                <div class="form-group">
                                    <label asp-for="TypeName" class="control-label"></label>
                                    <input asp-for="TypeName" class="form-control" />
                                    <span asp-validation-for="TypeName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg">
                                <div class="form-group">
                                    <label asp-for="TypeDescription" class="control-label"></label>
                                    <input asp-for="TypeDescription" class="form-control" rows="5" />
                                    <span asp-validation-for="TypeDescription" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PkTypeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>