@model Manufacturing_Core.Entity.MMetarial

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <form asp-action="Create">
        <div class="form-group">
            <div class="col-sm-12 col-md-12 col-lg">
                <div class="card">
                    <div class="card-header text-white" style="width:80%; height:65px; background-color:orangered; margin-left:100px; margin-top:-30px;">Create Material</div>
                    <div class="card-body">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="row">
                            <div class="col-sm-4 col-md-4 col-lg">
                                <div class="form-group">
                                    <label class="control-label" for="MaterailId" style="font-family:Verdana; font-weight:normal">Material Id</label>
                                    @Html.TextBox("Material Id", Model.PkMatId, new { @class = "form-control", @readonly = "readonly" })
                                    <span asp-validation-for="PkMatId" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg">
                                <div class="form-group">
                                    <label asp-for="MatCode" class="control-label"></label>
                                    <input asp-for="MatCode" class="form-control"/>
                                    <span asp-validation-for="MatCode" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 col-md-4 col-lg">
                                <div class="form-group">
                                    <label asp-for="MatName" class="control-label"></label>
                                    <input asp-for="MatName" class="form-control" />
                                    <span asp-validation-for="MatName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg">
                                <div class="form-group">
                                    <label asp-for="MatDescription" class="control-label"></label>
                                    <input asp-for="MatDescription" class="form-control" />
                                    <span asp-validation-for="MatDescription" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 col-md-4 col-lg">
                                <div class="form-group">
                                    <label asp-for="MatQty" class="control-label"></label>
                                    <input asp-for="MatQty" class="form-control" />
                                    <span asp-validation-for="MatQty" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg">
                                <div class="form-group">
                                    <label asp-for="MatRate" class="control-label"></label>
                                    <input asp-for="MatRate" class="form-control" />
                                    <span asp-validation-for="MatRate" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 col-md-4 col-lg">
                                <div class="form-group">
                                    <label asp-for="MatUnit" class="control-label"></label>
                                    <input asp-for="MatUnit" class="form-control" />
                                    <span asp-validation-for="MatUnit" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 col-md-4 col-lg">
                                <div class="form-group">
                                    <label asp-for="HSNCode" class="control-label"></label>
                                    <input asp-for="HSNCode" class="form-control" />
                                    <span asp-validation-for="HSNCode" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg">
                                <div class="form-group">
                                    <label asp-for="SACode" class="control-label"></label>
                                    <input asp-for="SACode" class="form-control" />
                                    <span asp-validation-for="SACode" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                            <input type="submit" value="Cancel" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>