@model Manufacturing_Core.Entity.TrPORequirementCollection

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {

        $('#MaterialID').change(function () {

            var matId = $(this).val();

            if (!matId) {
                $('#Qty').val('');
                return;
            }

            $.ajax({
                url: '/User/TrPORequirementCollections/GetMaterialQty',
                type: 'GET',
                data: { materialID: matId },
                success: function (data) {
                    $('#Qty').val(data.qty);
                },
                error: function () {
                    alert('Unable to load quantity');
                }
            });
        });

    });
</script>
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div class="card">
                <div class="card-header text-white" style="width:80%; height:65px; background-color:orangered; margin-left:100px; margin-top:-30px;">Edit Requirment Collection</div>
                <div class="card-body">
                    <div class="col-sm-11 col-md-11 col-lg">
                        <div class="card">
                            <div class="card-header">
                                PO Requirement Collection Details
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg">
                                        <div class="form-group">
                                            <label asp-for="PkRequirementID" class="form-label">Id</label>
                                            <input asp-for="PkRequirementID" class="form-control" />
                                            <span asp-validation-for="PkRequirementID" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-md-4 col-lg">
                                        <div class="form-group">
                                            <label asp-for="TransDate" class="control-label"></label>
                                            <input asp-for="TransDate" class="form-control" />
                                            <span asp-validation-for="TransDate" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg">
                                        <div class="form-group">
                                            <label asp-for="RequirementNumber" class="control-label"></label>
                                            <input asp-for="RequirementNumber" class="form-control" />
                                            <span asp-validation-for="RequirementNumber" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-md-4 col-lg">
                                        <div class="form-group">
                                            <label asp-for="WorkOrderNumber" class="control-label"></label>
                                            <input asp-for="WorkOrderNumber" class="form-control" />
                                            <span asp-validation-for="WorkOrderNumber" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg">
                                        <div class="form-group">
                                            <label asp-for="BOMNumber" class="control-label"></label>
                                            <input asp-for="BOMNumber" class="form-control" />
                                            <span asp-validation-for="BOMNumber" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-md-4 col-lg">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                Material Details
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg">
                                        <div class="form-group">
                                            <label class="control-label">Material Id-Code-Name</label>
                                            <select asp-for="MaterialID" class="form-control" asp-items="ViewBag.MaterialDD"></select>
                                            <span asp-validation-for="MaterialID" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-md-4 col-lg">
                                        <div class="form-group">
                                            <label asp-for="MatDescription" class="control-label"></label>
                                            <input asp-for="MatDescription" class="form-control" />
                                            <span asp-validation-for="MatDescription" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                PO Quantity
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg">
                                        <div class="form-group">
                                            <label asp-for="RequiredQty" class="control-label"></label>
                                            <input asp-for="RequiredQty" class="form-control" />
                                            <span asp-validation-for="RequiredQty" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-md-4 col-lg">
                                        <div class="form-group">
                                            <label asp-for="Unit" class="control-label"></label>
                                            <input asp-for="Unit" class="form-control" />
                                            <span asp-validation-for="Unit" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg">
                                        <div class="form-group">
                                            <label asp-for="StockAvailableQty" class="control-label"></label>
                                            <input asp-for="StockAvailableQty" id="Qty" name="Qty" class="form-control" />
                                            <span asp-validation-for="StockAvailableQty" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-md-4 col-lg">
                                        <div class="form-group">
                                            <label asp-for="PurchaseQty" class="control-label"></label>
                                            <input asp-for="PurchaseQty" class="form-control" />
                                            <span asp-validation-for="PurchaseQty" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg">
                                        <a href="">New PO</a>
                                    </div>
                                    <div class="col-sm-4 col-md-4 col-lg">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">Approval Details</div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg">
                                        <div class="form-group">
                                            <label asp-for="RequirementSource" class="control-label"></label>
                                            <select asp-for="RequirementSource" class="form-control">
                                                <option value="0">-- Select Material --</option>
                                                <option value="1">Purchase</option>
                                                <option value="2">Production</option>
                                                <option value="3">Stock</option>
                                            </select>
                                            <span asp-validation-for="RequirementSource" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-md-4 col-lg">
                                        <div class="form-group">
                                            <label asp-for="RequiredDate" class="control-label"></label>
                                            <input asp-for="RequiredDate" class="form-control" />
                                            <span asp-validation-for="RequiredDate" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg">
                                        <div class="form-group">
                                            <label asp-for="Priority" class="control-label"></label>
                                            <select asp-for="Priority" class="form-control">
                                                <option value="0">--Select Priority--</option>
                                                <option value="1">Low</option>
                                                <option value="2">Medium</option>
                                                <option value="3">High</option>
                                                <option value="4">Urgent</option>
                                            </select>
                                            <span asp-validation-for="Priority" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-md-4 col-lg">
                                        <div class="form-group">
                                            <label asp-for="RequirementStatus" class="control-label"></label>
                                            <input asp-for="RequirementStatus" class="form-control" />
                                            <span asp-validation-for="RequirementStatus" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg">
                                        <div class="form-group">
                                            <label asp-for="ApprovedBy" class="control-label"></label>
                                            <input asp-for="ApprovedBy" class="form-control" />
                                            <span asp-validation-for="ApprovedBy" class="text-danger"></span>
                                        </div>

                                    </div>
                                    <div class="col-sm-4 col-md-4 col-lg">
                                        <div class="form-group">
                                            <label asp-for="ApprovedDate" class="control-label"></label>
                                            <input asp-for="ApprovedDate" class="form-control" />
                                            <span asp-validation-for="ApprovedDate" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

