@model Manufacturing_Core.ViewModels.MItemViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <form asp-action="Create">
        <div class="form-group">
            <div class="col-sm-12 col-md-12 col-lg">
                <div class="card">
                    <div class="card-header text-white" style="width:80%; height:65px; background-color:orangered; margin-left:100px; margin-top:-30px;">Create Item</div>
                    <div class="card-body">
                        <div asp-validation-summary="All" class="text-danger"></div>                        
                        <div class="row">
                            <div class="col-sm-3 col-md-3 col-lg">
                                <div class="form-group">
                                    <label class="control-label" style="font-family:Verdana; font-weight:normal">Item Sr.No.</label>
                                    @Html.TextBox("Item Sr.No.", Model.mItem.PkItemId, new { @class = "form-control", @readonly = "readonly" })
                                    <span asp-validation-for="mItem.PkItemId" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-3 col-md-3 col-lg">
                                <div class="form-group">
                                    <label asp-for="mItem.ItemCode" class="control-label"></label>
                                    <input asp-for="mItem.ItemCode" class="form-control" title="Enter Item Code"/>
                                    <span asp-validation-for="mItem.ItemCode" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-3 col-md-3 col-lg">
                                <div class="form-group">
                                    <label asp-for="mItem.ItemName" class="control-label"></label>
                                    <input asp-for="mItem.ItemName" class="form-control" title="Enter Item Name"/>
                                    <span asp-validation-for="mItem.ItemName" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 col-md-4 col-lg">
                                <div class="form-group">
                                    <label asp-for="mItem.FkCatId" class="control-label"></label>
                                    <select asp-for="mItem.FkCatId" class="form-control" asp-items="ViewBag.FkCatId"></select>
                                    <span asp-validation-for="mItem.FkCatId" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg">
                                <div class="form-group">
                                    <label asp-for="mItem.ItemQty" class="control-label"></label>
                                    <input asp-for="mItem.ItemQty" class="form-control"  title="Enter Item Qty in double"/>
                                    <span asp-validation-for="mItem.ItemQty" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg">
                                <div class="form-group">
                                    <label asp-for="mItem.ItemRate" class="control-label"></label>
                                    <input asp-for="mItem.ItemRate" class="form-control" title="Enter Item Rate in double"/>
                                    <span asp-validation-for="mItem.ItemRate" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 col-md-4 col-lg">
                                <div class="form-group">
                                    <label asp-for="mItem.Status" class="control-label"></label>
                                    <input asp-for="mItem.Status" class="form-control" title="Enter Item Status"/>
                                    <span asp-validation-for="mItem.Status" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg">
                                <div class="form-group">
                                    <label asp-for="mItem.HSNCODE" class="control-label"></label>
                                    <input asp-for="mItem.HSNCODE" class="form-control" title="Enter HSN Code"/>
                                    <span asp-validation-for="mItem.HSNCODE" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg">
                                <div class="form-group">
                                    <label asp-for="mItem.SACODE" class="control-label"></label>
                                    <input asp-for="mItem.SACODE" class="form-control" title="Enter Service Account Code"/>
                                    <span asp-validation-for="mItem.SACODE" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 col-md-4 col-lg">
                                <div class="form-group">
                                    <label asp-for="mItem.ItemUnit" class="control-label"></label>
                                    <input asp-for="mItem.ItemUnit" class="form-control" title="Enter Item Unit In double"/>
                                    <span asp-validation-for="mItem.ItemUnit" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-9 col-md-9 col-lg">
                                <div class="form-group">
                                    <label asp-for="mItem.ItemDescription" class="control-label"></label>
                                    <input asp-for="mItem.ItemDescription" class="form-control" title="Enter Item Description"/>
                                    <span asp-validation-for="mItem.ItemDescription" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                            <input type="button" value="Cancel" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>


