@model Manufacturing_Core.Entity.MBooks

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <form asp-action="Edit">
        <div class="form-group">
            <div class="col-sm-12 col-md-12 col-lg">
                <div class="card">
                    <div class="card-header text-white" style="width:80%; height:65px; background-color:orangered; margin-left:100px; margin-top:-30px;">Edit Book</div>
                    <div class="card-body">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <input type="hidden" asp-for="BookID" />
                        <div class="row">
                            <div class="col-sm-4 col-md-4 col-lg">
                                <div class="form-group">
                                    <label class="control-label" for="AccountTypeId" style="font-family:Verdana; font-weight:normal">Book Sr.No.</label>
                                    @Html.TextBox("Book Sr.No.", Model.BookID, new { @class = "form-control", @readonly = "readonly" })
                                    <span asp-validation-for="BookID" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg">
                                <div class="form-group">
                                    <label asp-for="Title" class="control-label"></label>
                                    <input asp-for="Title" class="form-control" />
                                    <span asp-validation-for="Title" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 col-md-4 col-lg">
                                <div class="form-group">
                                    <label asp-for="AuthorID" class="control-label"></label>
                                    <select asp-for="AuthorID" class="form-control" asp-items="ViewBag.AuthorID"></select>
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg">
                                <div class="form-group">
                                    <label asp-for="PublishedDate" class="control-label"></label>
                                    <input asp-for="PublishedDate" class="form-control" />
                                    <span asp-validation-for="PublishedDate" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Update" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>


