@model Manufacturing_Core.ViewModels.PurchaseOrderViewModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PurchaseOrderViewModel</h4>
    <hr />
    <dl class="row">
    </dl>
    
    
</div>
