@model Manufacturing_Core.Entity.MProduct

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>MProduct</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PkProdId" />
            <div class="form-group">
                <label asp-for="ProdCode" class="control-label"></label>
                <input asp-for="ProdCode" class="form-control" />
                <span asp-validation-for="ProdCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProdName" class="control-label"></label>
                <input asp-for="ProdName" class="form-control" />
                <span asp-validation-for="ProdName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProdDescription" class="control-label"></label>
                <input asp-for="ProdDescription" class="form-control" />
                <span asp-validation-for="ProdDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProdQty" class="control-label"></label>
                <input asp-for="ProdQty" class="form-control" />
                <span asp-validation-for="ProdQty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductRate" class="control-label"></label>
                <input asp-for="ProductRate" class="form-control" />
                <span asp-validation-for="ProductRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProdImage" class="control-label"></label>
                <input asp-for="ProdImage" class="form-control" />
                <span asp-validation-for="ProdImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsCreatedBy" class="control-label"></label>
                <input asp-for="IsCreatedBy" class="form-control" />
                <span asp-validation-for="IsCreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateDate" class="control-label"></label>
                <input asp-for="CreateDate" class="form-control" />
                <span asp-validation-for="CreateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsUpdatedBy" class="control-label"></label>
                <input asp-for="IsUpdatedBy" class="form-control" />
                <span asp-validation-for="IsUpdatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdateDate" class="control-label"></label>
                <input asp-for="UpdateDate" class="form-control" />
                <span asp-validation-for="UpdateDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsSynchronized" /> @Html.DisplayNameFor(model => model.IsSynchronized)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

