@model Manufacturing_Core.Entity.MAccountType

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <form asp-action="Edit">
        <div class="form-group">
            <div class="col-sm-12 col-md-12 col-lg">
                <div class="card">
                    <div class="card-header text-white" style="width:80%; height:65px; background-color:orangered; margin-left:100px; margin-top:-30px;">Edit Account Type</div>
                    <div class="card-body">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <input type="hidden" asp-for="PkAccountTypeId" />
                        <div class="row">
                            <div class="col-sm-4 col-md-4 col-lg">
                                <div class="form-group">
                                    <label class="control-label" for="AccountTypeId" style="font-family:Verdana; font-weight:normal">Account Type Id</label>
                                    @Html.TextBox("AccountTypeId", Model.AccountTypeId, new { @class = "form-control", @readonly = "readonly" })
                                    <span asp-validation-for="AccountTypeId" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg">
                                <div class="form-group">
                                    <label asp-for="AccountType" class="control-label font-weight-normal"></label>
                                    <input asp-for="AccountType" class="form-control" />
                                    <span asp-validation-for="AccountType" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                            <input type="submit" value="Cancel" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

