@model Manufacturing_Core.ViewModels.MSubcategoryViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div class="row">
    <form asp-action="Details">
        <div class="form-group">
            <div class="col-sm-12 col-md-12 col-lg">
                <div class="card">
                    <div class="card-header text-white" style="width:80%; height:65px; background-color:orangered; margin-left:100px; margin-top:-30px;">Subcategory Details</div>
                    <div class="card-body">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <input type="hidden" asp-for="mSubcategory.PkSubCatId" />
                        <div class="row">
                            <div class="col-sm-4 col-md-4 col-lg">
                                <div class="form-group">
                                    <label class="control-label" for="AccountTypeId" style="font-family:Verdana; font-weight:normal">SubCategory Sr.No.</label>
                                    @Html.TextBox("Subcategory Sr.No.", Model.mSubcategory.PkSubCatId, new { @class = "form-control", @readonly = "readonly" })
                                    <span asp-validation-for="mSubcategory.PkSubCatId" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg">
                                <div class="form-group">
                                    <label asp-for="mSubcategory.SubCategoryCode" class="control-label" style="font-family:Verdana; font-weight:normal"></label>
                                    <input asp-for="mSubcategory.SubCategoryCode" class="form-control" />
                                    <span asp-validation-for="mSubcategory.SubCategoryCode" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 col-md-4 col-lg">
                                <div class="form-group">
                                    <label style="font-family:Verdana; font-weight:normal">Account Type Id</label>
                                    <select asp-for="mSubcategory.FkTypeId" class="form-control" asp-items="ViewBag.FkTypeId"></select>
                                    <span asp-validation-for="mSubcategory.FkTypeId" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-sm-4 col-md-4 col-lg">
                                <div class="form-group">
                                    <label style="font-family:Verdana; font-weight:normal">Account Type Id</label>
                                    <select asp-for="mSubcategory.FkCatId" class="form-control" asp-items="ViewBag.FkCatId"></select>
                                    <span asp-validation-for="mSubcategory.FkCatId" class="text-danger"></span>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label asp-for="mSubcategory.SubCategoryName" class="control-label"></label>
                                <input asp-for="mSubcategory.SubCategoryName" class="form-control" />
                                <span asp-validation-for="mSubcategory.SubCategoryName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="mSubcategory.SubCategoryDescription" class="control-label"></label>
                                <input asp-for="mSubcategory.SubCategoryDescription" class="form-control" />
                                <span asp-validation-for="mSubcategory.SubCategoryDescription" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.mSubcategory.PkSubCatId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>